@import '../colours';


.PostPreview {
  background-color: $elegant-gray;
  padding: 16px;
  cursor: pointer;

  &:first-of-type {
    background-color: $silent-midnight;
    grid-area: main / 1 / 1 / 1;
  }
}