@import '../colours';

.Header {
  background-color: $silent-midnight;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}

.Content {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.SiteName {
  margin: 0;
}

nav {

  a {

    padding: 8px;
    text-decoration: none;
    color: $glimmering-silver;

    &:last-of-type {
      padding-right: 0;
    }

  }

}