@import 'colours';


html, body, #root {
  min-height: 100vh;
}

.Post {
  background-color: $crystal-white;
  color: #ffffff;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.BlockPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 16px;
  row-gap: 16px;
  padding: 16px;
}

.Header {
  padding: 16px;
  background-color: $silent-midnight;
}

.Footer {
  padding: 16px;
  background-color: $silent-midnight;
}